<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TEST SUITE" preserve-order="true" thread-count="1">
    <parameter name="browserName" value="chrome"/>
   
    <test name="Apheris">
        <packages>
            <package name="MainPage.HomePage"/>
            <package name="MainPage.Owners"/>
            <package name="MainPage.Veterinarians"/>
            <package name="MainPage.Error"/>
        </packages>
    </test>

</suite>
